# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# maven target folder
target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*



# allow for certain directories certain file types (for the local integration test folder)
!integration/**/**/logs
!integration/**/**/*.log
!integration/**/**/*.jar
!integration/**/**/*.war
!integration/**/**/*.zip
!integration/**/**/*.tar.gz

!integration/**/**/**/logs
!integration/**/**/**/*.log
!integration/**/**/**/*.jar
!integration/**/**/**/*.war
!integration/**/**/**/*.zip
!integration/**/**/**/*.tar.gz

!integration/**/**/**/**/logs
!integration/**/**/**/**/*.log
!integration/**/**/**/**/*.jar
!integration/**/**/**/**/*.war
!integration/**/**/**/**/*.zip
!integration/**/**/**/**/*.tar.gz
