<div style="text-align:center">
    <h2>{{ title }}</h2>
    <div [innerHTML]="htmlString"></div>
    <br/><br/>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Street</th>
            <th>Zip</th>
            <th>City</th>
        </tr>
        <tr *ngFor="let runner of runners">
            <td>{{runner.firstname}}</td>
            <td>{{runner.lastname}}</td>
            <td>{{runner.street}}</td>
            <td>{{runner.zip}}</td>
            <td>{{runner.city}}</td>
        </tr>
    </table>
</div>
